.hero-banner {
    position: relative;
    height: 680px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}
.hero-content {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 40px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
    max-width: 40%;
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translate(-50%, -60%); }
    100% { opacity: 1; transform: translate(-50%, -50%); }
}

@media (max-width: 768px) {
    .hero-banner {
        height: 400px;
    }
    
    .hero-content {
        max-width: 90%;
        padding: 15px;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content p {
        font-size: 1rem;
    }
}
.vertical-line {
    width: 2px;
    height: 50px;
    background-color: #c8102e;
}
.image-section {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.story-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Hide scrollbar on Firefox */
    -ms-overflow-style: none; /* Hide scrollbar on IE */
}

.story-container::-webkit-scrollbar {
display: none; /* Hide scrollbar on Webkit (Chrome, Safari) */
}

.story-card {
flex: 0 0 auto;
scroll-snap-align: start;
width: 300px; /* Set card width */
margin-right: 10px; /* Space between cards */
}

.card-img-top {
height: 90%; /* 70% Image */
object-fit: cover;
}
.custom-scroll {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar */
.custom-scroll::-webkit-scrollbar {
    display: none;
}
.custom-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.card-body {
height: 10%; /* 30% Text */
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.nav-link {
    font-size: 1.2rem; /* Adjust as necessary for the desired size */
}         
.red-bg { background-color: #c8102e; } /* Red */
.dark-red-bg { background-color: #a10f25; } /* Dark Red */
.orange-bg { background-color: #d35400; } /* Orange */
.light-orange-bg { background-color: #f39c12; } /* Light Orange */
.yellow-bg { background-color: #f1c40f; } /* Yellow */

.offer-card h2 { font-size: 2.5rem; font-weight: bold; }
.offer-card h3 { font-size: 1.5rem; font-weight: bold; }
.offer-card p { font-size: 1rem; }
